@import "tailwindcss";

:root {
  /* Earthy Tobacco Palette */
  --background: #FFFCF8;
  /* Off-white / Paper tint */
  --foreground: #1A1918;
  /* Soft Black / Charcoal */

  --color-paper: #F2EBE5;
  /* Light Kraft / Beige */
  --color-muted: #6B6661;
  /* Warm Grey */
  --color-primary: #1A1918;
  /* Black Action */
  --color-accent: #D35400;
  /* Burnt Orange */
  --color-nature: #5D6D56;
  /* Muted Forest Green */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-paper: var(--color-paper);
  --color-muted: var(--color-muted);
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-nature: var(--color-nature);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  --radius-3xl: 24px;
  --radius-4xl: 32px;
  --radius-pill: 9999px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}